.banner-text h1 {
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 65px;
}

.banner-text p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #000000;
    opacity: 0.5;
}

.plants-title h1 {
    font-family: "Noto Serif", serif;
}
.plants-sub-title p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #000000;
    opacity: 0.5;

}
.card h1 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #111111;

}
.card h2 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #111111;

}
.plants-lover-text h1 {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 600;
}
.plants-lover-text li {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #000000;
    opacity: 0.5;

}
.container-2 h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;

}
.container-2 p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #000000;
    opacity: 0.5;

}